body {
    font-family: 'Ubuntu', sans-serif;
}

h1 {
    margin: 4;
    color: #343148FF;
}
h4 {
    margin: 4;
}

.cdiv {
    text-align: center;
    background-color:rgba(228, 213, 185, 0.3) ;
}

.desc{
    max-width: 150px;
}
#subheader{
    margin: auto;
    width: 50%;
    background-color: #dfd8c8;
}

#leftdiv{
    width: 50%;
    float: left;
    background-color: #dfd8c8;
}
#rightdiv{
    width: 50%;
    float: right;
    background-color: #dfd8c8;
}

#countdown {
    height: 70vw;
    position: absolute; 
    bottom: 0;
    margin: 0 auto;
}

.projecttable{
    margin-left: auto;
    margin-right: auto;
    max-width: 1400px;
}
#if{
    position: absolute;
    margin-top: 30vw;
    width: 100vw;
    height: 75vw;
    border-style: none;
}

#bsif {
    width: 100vw;
    height: 30vw;
    border-style: none;
}
thead{
    color: #dfd8c8;
    background-color:#343148FF;
}

.cc {
    text-align: center;
}

a {
    color:#1e847f;
}

.loader {
    position:fixed;
    left:50%;
    top:35%;
    border: 3px solid #f3f3f3;
    border-top: 3px solid #a0a0a0;
    border-radius: 50%;
    width: 32px;
    line-height: 1;
    height: 32px;
    animation: spin .5s linear infinite;
}

.alert-primary{
    border-color: #dfd8c8 ;
    text-align: center; 
    background-color: #dfd8c8; 
    color:#343148FF;
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

